.topbar {
  background-color: green;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 63px;
  color: white;
  &__languaje {
    display: flex;
    margin-left: 7rem;
    &--globe {
      font-size: 3rem;
      color: blue;
    }
  }
  &__mail {
    margin-right: 7rem;
    display: flex;
  }
}
