.heroscreen {
  align-items: center;
  background-image: url("../../common/Resources/background_hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: $textcolor_Light;
  display: flex;
  height: 66.1rem;
  justify-content: right;
  &__content {
    font-size: 2.6rem;
    font-weight: 600;
    height: 23.3rem;
    margin-right: 14rem;
    text-align: right;
    width: 54.9rem;
  }
}
