* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

html,
body {
  max-width: 100% !important;
  overflow-x: hidden !important;
}

//var colors
$primary_color: #04502f;
$primary_colorDark: #012022;
$primary_colorLight: #08843c;
$accent_color: #b53036;
$accent_colorDark: #b6060f;
$accent_colorLight: #e8575d;
$textcolor_Dark: #222121;
$textcolor_Light: white;
$textcolor_Gray: #96999b;
$error_color: red;

//components
@import "../../Components/Topbar/topbar";
@import "../../Components/Navbar/navbar";
@import "../../Components/HeroScreen/heroscreen";

//pages
@import "../../Pages/mainscreen";
